{% extends 'home/base.html' %}

{% block content %}

<div class="p-8 text-center">
    <h1 class="font-medium leading-tight text-4xl mt-0 mb-3 text-blue-600">Welcome!</h1>

    <p class="text-2xl">Here, there be sockets.</p>

</div>
{% endblock %}

{% block script %}
<script>
    let notificationBadge = document.querySelector("#notification-count")
    const clearBtn = document.querySelector("#clear-btn")
    const notifications = document.querySelectorAll(".notification-message")
    document.body.addEventListener("htmx:wsAfterMessage", (e) => {
        const notificationCount = notificationBadge.innerHTML
        if (!notificationCount) {
            notificationBadge.innerHTML = 1
        } else (
            notificationBadge.innerHTML = parseInt(notificationCount) + 1
        )
    })
    clearBtn.addEventListener("click", (e) => {
        e.preventDefault()
        notifications.forEach(notification => notification.remove())
    })
</script>
{% endblock script %}